

#ve835 .GraphDataStyleDefault {
  marker-color: #FFFFFF;
  text-color: #FFFFFF;
  line-color: #FFFFFF;
}
#cd1797 .If {
  background-color: #FF8224;
  transparency: 0.3;
}
#ve493 .span1 {
  font-weight: bold;
}
#ve380 .paragraph1 {
  text-align: center;
}
#cd1835 .If {
  background-color: #84414B;
  transparency: 0.35;
}
#ve380 .span1 {
  font-size: 28px;
}
#ve349 .Missing {
  color: #FFFFFF;
  marker-color: #FFFFFF;
  text-color: #FFFFFF;
  fill-color: #FFFFFF;
  line-color: #FFFFFF;
}
#ve359 .LabelText {
  font-family: AvenirNext;
}
#ve1332 .Table {
  padding-top: 16px;
  row-color: #E9ECEF;
  color: #000000;
  alt-row-color: #E9ECEF;
}
#ve370 .Table {
  padding-top: 16px;
  row-color: #081B2D;
  horizontal-line-style: none;
  color: #F9EDC6;
  vertical-line-style: solid;
  transparency: 0.7;
  alt-row-color: #545B66;
}
#ve349 .ReportElementContainer {
  padding: 25px;
}
#ve359 .ValueText {
  font-family: AvenirNext;
}
#ve370 .ReportElementContainer {
  padding: 25px;
}
#cd1833 .If {
  background-color: #434FAC;
  transparency: 0.35;
}
#ve601 .span1 {
  font-weight: bold;
}
#ve370 .tableColumnbi264 {
  fill-color: #B0B7C2;
}
#ve1363 .span1 {
  font-size: 22pt;
}
#ve370 .tableColumnbi263 {
  fill-color: #B0B7C2;
}
#ve533 .Container {
  background-color: #000000;
  transparency: 0.39;
}
#ve370 .tableColumnbi260 {
  fill-color: #B0B7C2;
}
#ve370 .tableColumnbi262 {
  fill-color: #B0B7C2;
}
#ve370 .tableColumnbi261 {
  fill-color: #B0B7C2;
}
#ve359 .TipFill {
  fill-color: #081B2D;
}
#cd1837 .If {
  background-color: #98863C;
  transparency: 0.35;
}
#ve370 .Header {
  background-color: #061728;
  color: #E9ECEF;
  transparency: 0.1;
  font-size: 10pt;
  text-align: center;
}
#ve568 .Container {
  background-color: #000000;
  transparency: 0.39;
}
#cd710 .If {
  color: #16976D;
}
#ve428 .Container {
  background-color: #000000;
  transparency: 0.39;
}
#ve831 .Container {
  background-color: #000000;
  transparency: 0.55;
}
#cd716 .If {
  color: #434FAC;
}
#ve349 .GraphSkin {
  data-skin: PRESSED;
}
#ve359 .GraphSkin {
  data-skin: PRESSED;
}
#ve349 .HeaderFill {
  transparency: 0;
  fill-color: #FFFFFF;
}
#ve1134 .span2 {
  font-weight: bold;
}
#ve1134 .span1 {
  font-size: 16pt;
}
#ve406 .ReportElementContainer {
  padding: 0px;
}
#ve349 .TipText {
  text-color: #FFFFFF;
}
#ve1134 .span4 {
  font-weight: bold;
}
#cd1799 .If {
  background-color: #FFCC32;
  transparency: 0.3;
}
#ve1134 .span3 {
  color: #33A3FF;
  font-size: 16pt;
}
#ve835 .GraphDataStyle1 {
  marker-color: #FFFFFF;
  text-color: #FFFFFF;
  line-color: #FFFFFF;
}
#ve1214 .Container {
  background-color: #000000;
  transparency: 0.45;
}
#ve429 .Container {
  background-color: #000000;
  transparency: 0.39;
}
#ve1124 .GraphDataStyle1 {
  marker-color: #FFFFFF;
  text-color: #FFFFFF;
  fill-color: #FFFFFF;
  line-color: #FFFFFF;
}
#ve1124 .GraphDataStyle2 {
  marker-color: #FFFFFF;
  text-color: #FFFFFF;
  fill-color: #FFFFFF;
  line-color: #FFFFFF;
}
#cd1805 .If {
  background-color: #DD5757;
  transparency: 0.3;
}
#cd712 .If {
  color: #98863C;
}
#ve359 .GraphDataStyle1 {
  marker-color: #B14C51;
  text-color: #B14C51;
  line-color: #B14C51;
}
#ve359 .GraphDataStyle2 {
  marker-color: #FFCC32;
  text-color: #FFCC32;
  line-color: #FFCC32;
}
#cd1839 .If {
  background-color: #4CAF50;
  transparency: 0.35;
}
#ve1239 .GraphDataStyleDefault {
  marker-color: #98863C;
  text-color: #98863C;
  line-color: #98863C;
}
#ve349 .TipFill {
  fill-color: #081B2D;
}
#ve603 .Container {
  background-color: #000000;
  transparency: 0.39;
}
#ve1211 .Container {
  background-color: #000000;
  transparency: 0.3;
}
#ve359 .GraphDataStyleDefault {
  marker-color: #B14C51;
  text-color: #B14C51;
  line-color: #B14C51;
}
#ve370 .tableColumnbi93 {
  width: 124px;
}
#ve1136 .Container {
  background-color: #000000;
  transparency: 0.4;
}
#cd714 .If {
  color: #84414B;
}
#ve1332 .Header {
  background-color: #21364A;
  text-align: left;
}
#ve349 .GridLines {
  line-color: #F9EDC6;
}
#ve359 .ReportElementContainer {
  padding: 25px;
}
#ve1239 .GraphDataStyle1 {
  marker-color: #98863C;
  text-color: #98863C;
  line-color: #98863C;
}
#ve1312 .Container {
  background-color: #000000;
  transparency: 0.35;
}
#ve349 .GraphDataStyle1 {
  marker-color: #B14C51;
  text-color: #B14C51;
  line-color: #B14C51;
}
#ve359 .GridLines {
  line-color: #F9EDC6;
}
#ve566 .span1 {
  font-weight: bold;
}
#cd1801 .If {
  background-color: #15B57B;
  transparency: 0.3;
}
#ve234 .Container {
  background-color: #000000;
  transparency: 0.49;
}
#ve359 .DataText {
  font-family: AvenirNext;
}
#ve847 .span1 {
  font-size: 24pt;
}
#ve349 .GraphDataStyleDefault {
  marker-color: #B14C51;
  text-color: #B14C51;
  line-color: #B14C51;
}
#ve531 .span1 {
  font-weight: bold;
}
#ve1134 .paragraph2 {
  text-align: center;
}
#ve1124 .GraphDataStyleDefault {
  marker-color: #FFFFFF;
  text-color: #FFFFFF;
  fill-color: #FFFFFF;
  line-color: #FFFFFF;
}
#ve1134 .paragraph1 {
  text-align: center;
}

			